services:

  database:
    container_name: db
    image: mysql:8.0.44
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-password}
    volumes:
      - ./docker/mysql/data:/var/lib/mysql
      - ./docker/mysql/init:/docker-entrypoint-initdb.d
    ports:
      - "${MYSQL_PORT_EXPOSE:-127.0.0.1:3306}:3306"

  rtmp_notify:
    container_name: rtmp_notify
    build: './apps/rtmp-notify'
    restart: on-failure
    ports:
      - "127.0.0.1:3000:3000"

  rtmp:
    container_name: 'rtmp'
    image: athlon1600/nginx-rtmp:latest
    # build: './rtmp'
    ports:
      - "1935:1935"
      - "${NGINX_PORT:-8090}:80"
    volumes:
      - ./apps/rtmp-ingest/nginx.conf:/usr/local/nginx/conf/nginx.conf
      #- ./public:/usr/local/nginx/html
#    extra_hosts:
#      - "rtmp_notify:host-gateway"
    depends_on:
      - rtmp_notify

  api_server:
    container_name: 'api_server'
    build: './api_server'
    ports:
      - "${API_PORT:-127.0.0.1:3000}:3000"
    volumes:
      - ./public/storage:/var/storage
      # - ./api_server/src:/app/src
    environment:
      - DB_HOST=db
      - TSC_WATCHFILE=DynamicPriorityPolling # make watch work inside linux docker
      # - MYSQL_CONNECTION=mysql://root:password@db:3306
      - RTMP_SERVER=rtmp

  adminer:
    image: adminer
    restart: always
    environment:
      - ADMINER_DEFAULT_SERVER=db
      - ADMINER_DESIGN='nette'
    ports:
      - "127.0.0.1:9000:8080"

volumes:
  storage: { }