name: Build API Service

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 22, 24 ]
    name: Test build Node ${{ matrix.node-version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        working-directory: ./api_server
        run: npm ci

      - name: Build app
        working-directory: ./api_server
        run: npm run build